footer(class='footer')
    img(
        class="img-pied-page"
        src= pathBase + "assets/image/footer-img.jpg"
        title="L'École d'Athènes de Raphaël, éditorialisée"
        alt="L'École d'Athènes de Raphaël, éditorialisée"
    )
    div(class='devise') co<span class="fonti">d</span>e, phi<span class="fonti">l</span>o, t<span class="fonti">y</span>po