header

    .identite-site
        h1(class="titre-site") M<span class=fonti>y</span>llaume
        span(class="legal")
            a(
                href="https://creativecommons.org/licenses/by-nc/2.0/fr/"
                target="_blank"
            ) CC BY-NC
            a(href="/a-propos.html") à propos
            a(href="mailto:guillaume.brioudes@myllaume.fr") contact

    .raison-editoriale
            h2(class="ss-titre-site") Base de connaissance<br>Guillaume Brioudes
            ul(class="categories")
                each val in categories
                    li
                        a(href= pathBase + 'categories/' + val.id + '.html') #{val.title}