mixin post(post)
    article(class="article")
        h3(class="article__titre")
            a(href= pathBase + "posts/" + post.id + ".html") #{post.title}
            span(class="article__categorie") #{post.categorie}